:root{
    --color-primary: #6c63ff;
    --color-success: #00bf8e ;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white:#ffff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #393a4d;
    --color-bg2: #424890;
    --gray-color: hsl(240, 1%, 35%);
    --box-shadow:0 2px 10px rgba(0, 0, 0, 0.3);

    --container-width-lg: 86%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

}



.nav_container{
   box-shadow: var(--box-shadow);
}

.nav_menu li a{
    color: var(--color-black);
}
.nav_container a{
    color: var(--color-danger);
}
.button{
    color: var(--color-black);
}
/* ================PLACES STYLING========================= */
.places-container{
    width: 100%;
}
.places-left .left-header{
    margin: 30px 0;
}
.places-left{
    width: 70%;
}
.left-content{
    display: flex;
    gap: 16px;
    width: 100%;
    border-top: 1px solid var(--gray-color);
    padding: 30px 0;
    margin-bottom: 50px;
}


.left-main{
    position: relative;
}
.left-content .text .stars{
    color: var(--color-danger);
    font-size: 18px;
    margin: 10px 0;
}
.left-content .text .stars i{
    font-size: 18px;
}
.left-content .text {
    flex: 1 0 40%;
}
.left-main .side-text{
    position: absolute;
    right: 0;
    bottom: 50px;
    text-align: center;
}
.left-content .text p{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
}

.left-content .text small{
    opacity: 0.7;
    font-size: 15px;
}
.left-content .img{
    flex: 1 0 30%;
}
.left-content .img img{
    border-radius: 32px;
    object-fit: cover;
    width: 100%;
}
.left-main .side-text small{
    opacity: 0.7;
    font-size: 15px;
}
.left-main .side-text span{
    font-weight: 900;
    font-size: 23px;
}
.left-main .side-text p{
    font-weight: lighter;
    font-size: 23px;
}