:root{
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white:#ffff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #393a4d;
    --color-bg2: #424890;
    --gray-color: hsl(240, 1%, 35%);
    --box-shadow:0 2px 10px rgba(0, 0, 0, 0.3);

    --container-width-lg: 86%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

}


nav{
    position: fixed;
}
.window-scroll{
    background: var(--color-white);
}
 .nav_container{
   box-shadow: var(--box-shadow);
}

.nav_menu li a{
    color: var(--color-black);
}
.nav_container a{
    color: var(--color-danger);
}
.button{
    color: var(--color-danger);
}
/* ================PLACES STYLING========================= */
.places-main{
    margin-top: 40px;
}
.places-container{
    width: 100%;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: flex-start;
}
.places-left .left-header{
    margin: 30px 0;
}
.places-left{
    width: 70%;
}
.left-content{
    display: flex;
    gap: 16px;
    width: 100%;
    border-top: 1px solid var(--gray-color);
    padding: 30px 0;
    margin-bottom: 50px;
}


.left-main{
    position: relative;
}
.left-content .text .stars{
    color: var(--color-danger);
    font-size: 18px;
    margin: 10px 0;
}
.left-content .text .stars i{
    font-size: 18px;
}
.left-content .text {
    flex: 1 0 40%;
}
.left-main .side-text{
    position: absolute;
    right: 0;
    bottom: 10px;
    text-align: center;
}
.left-content .text p{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
}

.left-content .text small{
    opacity: 0.7;
    font-size: 15px;
}
.left-content .img{
    flex: 1 0 30%;
}
.left-content .img img{
    border-radius: 32px;
    object-fit: cover;
    width: 100%;
}
.left-main .side-text small{
    opacity: 0.7;
    font-size: 15px;
}
.left-main .side-text span{
    font-weight: 900;
    font-size: 23px;
}
.left-main .side-text p{
    font-weight: lighter;
    font-size: 23px;
}

/* ==================RIGHT STYLING=============== */
.places-right{
    border: 1px solid var(--color-black);
    width: 30%;
    height: fit-content;
    margin-top: 50px;
}
.places-right .right-container{
    padding: 40px;
}
.right-container .header{
    display: flex;
    gap: 90px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.right-container a{
    background: peachpuff;
    padding:5px 10px;
    color: var(--color-black);
    box-shadow: var(--box-shadow);
}
.right-container h4{
    font-size: 22px;
    margin: 20px 0;
}
.right-container .link{
    color: rgb(131, 131, 240);
}
.right-container .right-main .best h5{
    font-size: 18px;
    margin-bottom: 10px;
}
.right-container .right-main  .best-content{
    display: flex;
    gap: 90px;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}
.right-container .right-main .best{
    margin: 40px 0;
}
.places-right .right-container .link{
    float: right;
}








/* media query for tablet */
@media screen and (max-width:1024px) {
    .container{
        width: var(--container-width-md);
    }
    .button #open-menu-btn{
        color: var(--color-danger);
    }
    .button #close-menu-btn{
        color: var(--color-danger);
    }
    .nav_menu li a{
        color: var(--color-white);
    }
    .places-container{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .places-left{
        width: 80%;
    }
    .nav_container{
        width: 100%;
    }
    .places-right{
        width: 80%;
    }
    .left-main .side-text{
        position: absolute;
        bottom: -20px;
    }
}
@media screen and (max-width:600px) {
    .container{
        width: var(--container-width-sm);
    }
    .places-left{
        width:95%;
    }
    .nav_container{
        width: 100%;
    }
    .places-right{
        width: 95%;
    }
    .left-content{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
   
    .left-main .side-text{
        position: absolute;
        bottom: -10px;
    }
}