@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Poppins:ital,wght@0,100;0,200;1,100&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;1,8..144,100&family=Roboto:wght@100;300;400&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;text-decoration: none;
    list-style:none;
    box-sizing: border-box;

}
:root{
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white:#ffff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #393a4d;
    --color-bg2: #424890;
    --gray-color: hsl(240, 1%, 35%);
    --box-shadow:0 2px 10px rgba(0, 0, 0, 0.3);

    --container-width-lg: 86%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

}
body{
    font-family: Playfair, "sans-serif";
    background: var(--color-white);
    overflow-x: hidden;
    line-height: 1.6;
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding:56px 0 ;
}
/* section h2{
    text-align: center;
    margin-bottom: 54px;
} */
a{
    color: var(--color-white);
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background: var(--color-white);
    padding: 7px 13px;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 20px;
}
.btn:hover{
    background: var(--color-danger);
    color: var(--color-white) !important;
    /* border-color: var(--color-white); */
}
.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
    font-weight: 500;
    transition: var(--transition);
    border-radius: 18px;
    display: inline-block;
    padding: 7px 13px;
    border: 1px solid transparent;
}
.btn-primary:hover{
    background: transparent;
    color: var(--color-danger) !important ;
    border-color: var(--color-danger);
}
/* nav section */
.container{
    width: var(--container-width-lg);
}
nav{
    background:transparent;
    width: 100vw;
    height: 80px;
    top: 0;
    z-index: 11;
    position: fixed;
}
 .nav_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:16px 7%;
    width: 100%;
    height: 80px;
    
}
.window-scroll{
    background: var(--color-white);
    box-shadow: var(--box-shadow);
}
.window-scroll .nav_container > a,
.window-scroll .nav_menu li a{
    color: var(--color-danger);
}
.window-scroll .nav_container span a{
    border-color: var(--color-danger);
}


.nav_container > a{
    font-size: 30px;
    flex: 1 0 20%;
    margin-left: 20px;
    color: var(--color-white);

}
.nav_container > a{
    color: var(--color-white);
}
.nav_menu{
    display: flex;
    gap: 64px;
    align-items: center;
    flex: 1 0 50%;

}
.nav_menu li a{
    font-size: 18px;
    position: relative;
}
.nav_menu li a::after{
    width: 0%;
    content: "";
    height: 2px;
    background: var(--color-danger);
    position: absolute;
    display: block;
    margin: auto;
    transition: all 1.2s ease;
}
.nav_menu li a:hover::after{
    width: 100%;
}
.nav_container > .btn{
    color: var(--color-black);
    flex: 1 0 20%;
    
}
#open-menu-btn{
    display: none;
}
#close-menu-btn{
    display: none;
}
/* header */
header {
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(assets/Staybnb-img/images/banner.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 500px;
} 

.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin:auto;
    width: 70%;
    padding-top: 150px;
}

.header-content > p{
    font-size: 40px;
    text-align: center;
    color: var(--color-white);
}
.header-sub_content{
    display: flex;
    margin-top: 44px;
    gap: 70px;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 10px 48px;
    border-radius: 40px;
    align-items: center;
    
}
.header-sub_content .sub_content {
    border-left: 2px solid  rgba(0, 0, 0, 0.3);
    padding-left: 10px;
}
.header-sub_content .sub_content:nth-of-type(1) {
    border-left:none;
}
.header-sub_content .sub_content span{
    font-weight: 800;
    font-size: 20px;
}
.header-sub_content .sub_content p{
    font-size: 15px;
    opacity: 0.8;
}
.sub_content input {
    display: none;
    transition: all linear 1.5s ;
    color: var(--gray-color);
}
.sub_content:hover input {
    display: inline;
}
.sub_content:hover p{
    font-weight: 900;
}
.search-bar i{
    background: var(--color-danger);
    font-size: 20px;
    width: max-content;
    height: max-content;
    border-radius: 50%;
    padding: 10px;
    color: var(--color-white);
    display: inline-block;
    cursor: pointer;
    transition: all linear 0.5s ;
}
.search-bar i:hover{
    transform: rotate(360deg);
    background: transparent;
    color: var(--color-danger);
}
.exclusive-container  h1{
    font-size: 32px;
    display: inline;
}
.exclusive-content{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    color: var(--color-white);
    margin: 20px auto;
}
.exclusive-content .main-content{
    position: relative;
}
.exclusive-content .exclusive-text {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    line-height: 1.3;
    text-align: center;
}
.exclusive-content .exclusive-text span{
    font-size: 27px;
    font-weight: 900;
}
.exclusive-content .exclusive-image img{
    border-radius: 16px;
}
.exclusive-content .exclusive-image:hover img{
    box-shadow: var(--box-shadow);
}
.exclusive-content .main-content:hover .exclusive-text{
    color: var(--color-danger);
}
.main-content .layer{
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));  
    border-radius: 16px;
}
.exclusive-content .main-content:hover .layer{
    width: 100%;
}
.trend-content{
    margin-bottom: 100px;
}
.trend-container h2{
    font-size: 32px;
    margin-bottom: 20px;
    display: inline-block;
}
.trend-content{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    color: var(--color-white);
}
.trend-img{
    border: 5px solid var(--color-danger);
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    padding: 20px;
    background-color: transparent;
    color: var(--color-bg1);
}
.trend-img img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.trend-content {
    text-align: center;
}
.trend-img h3{
    font-size: 27px;
}
.trend-img:hover p{
    transform: scale(0.8);
}
.trend-img:hover img{
    transform: scale(1.1);
}
.trend-img:hover h3{
    transform: scale(1);
}


/* Earning  */
/* .earning-image{
    position: relative;
    width: 100%;
}
.earning-text{
    position: absolute;
    top: 10%;
    right: 50%;
    color: var(--color-white);
    margin-left: 50px;
    display: block;
    line-height: 1.3;
}line-height:1.3;
 */
.earning {
    background: url(assets/Staybnb-img/images/banner-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    display: flex;
    place-items: center;
    border-radius: 16px;
}
.earning-text{
    margin-left: 50px;
    color: var(--color-white);
    line-height:1.4;
}
.earning-text h3{
    font-size: 35px;
}
.earning-text p{
    font-size: 20px;
    margin-bottom: 15px;
}
.travellers{
    margin: 50px 0 ;
}
.travellers h3{
     font-size: 32px;
     display: inline-block;
     margin-bottom: 20px;
}
.travel-contents{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 32px;
}

.travel-content{
    position: relative;
}
.travel-image img{
    width: 100%;
    object-fit: contain;
    border-radius: 32px;
}
.travel-text{
    position: absolute;
    top: 50%;
    color: var(--color-white);
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 23px;
    width: 90%;
}
.button {
    display: block;
    text-align: center;
    margin: 30px auto;
}
.button a{
    padding: 15px 90px;
    border-radius: 30px;
}
.footer-container{
    margin: 0 auto;
    text-align: center;
}
.footer-container > h2{
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
}
.footer-container > p{
    margin-bottom: 30px;
}
.footer-container .footer_socials {
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.footer-container .footer_socials  li a{
    color: var(--gray-color);
    font-size: 23px;
}
.footer-container .copyright{
    border-top: 1px solid var(--gray-color);
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18px;
    color: var(--gray-color);
}










/* media query for tablet */
@media screen and (max-width:1024px) {
    .container {
        width: var(--container-width-md);
    }
    .nav_container .btn{
        display: none;
    }
    .nav_container{
        width: 100%;
    }
    #open-menu-btn{
        display: inline-block;
        background: transparent;
        font-size: 28.8px;
        color: var(--color-white);
        cursor: pointer;
    }
    #close-menu-btn{
        display: inline-block;
        background: transparent;
        font-size: 28.8px;
        color: var(--color-white);
        cursor: pointer;
        display: none;
    }
    .nav_menu{
        position: fixed;
        top: 90px;
        right: 5%;
        height: fit-content;
        width:288px;
        flex-direction: column;
        gap: 0;
        z-index: 9999;
        display: none;
    }
    .window-scroll .nav_menu li a{
        color: var(--color-white);
    }
    .window-scroll .nav_container #open-menu-btn{
        color: var(--color-danger);
    }
    .window-scroll .nav_container #close-menu-btn{
        color: var(--color-danger);
    }
    .nav_menu li{
        width: 100%;
        height: 92.8px;
        animation:animeNavItems 400ms linear forwards ;
        transform-origin: top right ;
        opacity: 0;  
      }
      .nav_menu li a {
        background: var(--color-danger);
        box-shadow: -64px 96px 160px rgba(0, 0, 0, 0.6) ;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .nav_menu li a:hover{
       background: transparent;
       border: 1px solid var(--color-danger);
       color: var(--color-danger);
    }
    .nav_menu li a:hover::after{
        width: 0;
    }
    .nav_menu li:nth-child(1) {
        animation-delay: 600ms;
    }
    .nav_menu li:nth-child(2) {
        animation-delay: 400ms;
    }
    .nav_menu li:nth-child(3) {
        animation-delay: 200ms;
    }
    
    @keyframes animeNavItems {
        0% {
            transform: rotateZ(-90deg);
        }
        100% {
            transform: rotateZ(0deg);
            opacity: 1;
        }
    }
    .header-sub_content{
        display: block;
        width: 100%;
        padding: 40px 20px;
        border-radius: 20px;
    }
    .header-sub_content .sub_content {
        border-left: none;
        width: 100%; 
        padding-bottom: 10px;
        border-bottom: 2px solid  rgba(0, 0, 0, 0.3);
    }
    .header-sub_content .sub_content p{
        margin-top: 15px;
    }
    .header-container{
        margin: auto;
        padding-top: 90px;
        width: 80%;
        position: relative;
        place-items: center;
    }
    .search-bar i{
        position: absolute;
        left: 50%;
        bottom:-3.7%;
    }
    header{
        height: 100vh;
       }
    .trend-content{
        grid-template-columns: repeat(2, 1fr);
       }
    .trend-img:hover img{
        transform: scale(0.8);
    }
    .trend-img:hover p{
        transform: scale(1.2);
    }
    .trend-img:hover h3{
        transform: scale(1.2);
    }
    .earning-text h3{
        font-size: 30px;
    }
}
@media screen and (max-width:600px) {
    .container{
        width: var(--container-width-sm);
    }
    .nav_menu{
        right: 3%;
    }
    .nav_container{
        width: 100%;
    }
    /* ========HEADER========= */
       header{
        height: 100vh;
       }
       .header-container{
        width: 100%;
    }
       .trend-content{
        grid-template-columns:1fr;
    }
       .trend-img:hover img{
        transform: scale(0.8);
    }
    .trend-img:hover p{
        transform: scale(0.9);
    }
    .trend-img:hover h3{
        transform: scale(1.1);
    }
    .trend-img{
        padding: 0;
    }
    .travel-contents{
        grid-template-columns:1fr;
    }
}
