@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Poppins:ital,wght@0,100;0,200;1,100&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;1,8..144,100&family=Roboto:wght@100;300;400&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;text-decoration: none;
    list-style:none;
    box-sizing: border-box;

}
:root{
    --color-primary: #6c63ff;
    --color-success: #00bf8e ;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white:#ffff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #393a4d;
    --color-bg2: #424890;
    --box-shadow:0 2px 10px rgba(0, 0, 0, 0.3);

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

}
body{
    font-family: Playfair, "sans-serif";
    background: var(--color-white);
    color: var(--color-white);
    overflow-x: hidden;
    line-height: 1.6;
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding:96px 0 ;
}
section h2{
    text-align: center;
    margin-bottom: 64px;
}

a{
    color: var(--color-white);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background: var(--color-white);
    padding: 7px 13px;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 20px;
}
.btn:hover{
    background: var(--color-danger);
    color: var(--color-white) !important;
    border-color: var(--color-white);
}
/* .btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
} */

/* nav section */

.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 80%;
    top: 0;
    left: 0;
}
.nav_container > a{
    font-size: 30px;
}
.nav_container > a span{
    color: var(--color-danger);
}
.nav_menu{
    display: flex;
    gap: 64px;
    align-items: center;
}
.nav_menu li a{
    font-size: 18px;
    position: relative;
}
.nav_menu li a::after{
    width: 0%;
    content: "";
    height: 2px;
    background: var(--color-danger);
    position: absolute;
    display: block;
    margin: auto;
    transition: all 1.2s ease;
}
.nav_menu li a:hover::after{
    width: 100%;
}
.nav_container > .btn{
    color: var(--color-black);
    
}
#open-menu-btn{
    display: none;
}
#close-menu-btn{
    display: none;
}
/* header */
header {
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(assets/Staybnb-img/images/banner.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 500px;
} 

.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 150px auto;
    width: 70%;
}
.header-content > p{
    font-size: 40px;
    text-align: center;
}
.header-sub_content{
    display: flex;
    margin-top: 44px;
    gap: 70px;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 10px 48px;
    border-radius: 40px;
    align-items: center;
    
}
.header-sub_content .sub_content {
    border-left: 2px solid  rgba(0, 0, 0, 0.3);
    padding-left: 10px;
}
.header-sub_content .sub_content:nth-of-type(1) {
    border-left:none;
}
.header-sub_content .sub_content span{
    font-weight: 800;
    font-size: 20px;
}
.header-sub_content .sub_content p{
    font-size: 15px;
    opacity: 0.8;
}
.search-bar .fas{
    background: var(--color-danger);
    font-size: 20px;
    width: max-content;
    height: max-content;
    border-radius: 50%;
    padding: 10px;
    color: var(--color-white);
    display: inline-block;
}
 











@media screen and (max-width:1024px) {
    .container {
        width: var(--container-width-md);
    }
    .nav_container .btn{
        display: none;
    }
    #open-menu-btn{
        display: inline-block;
        background: transparent;
        font-size: 28.8px;
        color: var(--color-white);
        cursor: pointer;
    }
    #close-menu-btn{
        display: inline-block;
        background: transparent;
        font-size: 28.8px;
        color: var(--color-white);
        cursor: pointer;
        display: none;
    }
    .nav_menu{
        position: fixed;
        top: 90px;
        right: 5%;
        height: fit-content;
        width:288px;
        flex-direction: column;
        gap: 0;
        z-index: 9999;
        display: none;
    }
    .nav_menu li{
        width: 100%;
        height: 92.8px;
        animation:animeNavItems 400ms linear forwards ;
        transform-origin: top right ;
        opacity: 0;  
      }
      .nav_menu li a {
        background: var(--color-danger);
        box-shadow: -64px 96px 160px rgba(0, 0, 0, 0.6) ;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .nav_menu li a:hover{
       background: transparent;
       border: 1px solid var(--color-danger);
    }
    .nav_menu li a:hover::after{
        width: 0;
    }
    .nav_menu li:nth-child(1) {
        animation-delay: 600ms;
    }
    .nav_menu li:nth-child(2) {
        animation-delay: 400ms;
    }
    .nav_menu li:nth-child(3) {
        animation-delay: 200ms;
    }
    
    @keyframes animeNavItems {
        0% {
            transform: rotateZ(-90deg);
        }
        100% {
            transform: rotateZ(0deg);
            opacity: 1;
        }
    }
    .header-sub_content{
        display: block;
        width: 100%;
        padding: 40px 20px;
        border-radius: 20px;
    }
    .header-sub_content .sub_content {
        border-left: none;
        width: 100%; 
        padding-bottom: 10px;
        border-bottom: 2px solid  rgba(0, 0, 0, 0.3);
    }
    .header-sub_content .sub_content p{
        margin-top: 15px;
    }
    .header-container{
        margin: 30px auto;
        width: 80%;
        position: relative;
        place-items: center;
    }
    .search-bar i{
        position: absolute;
        left: 50%;
        bottom:-3.7%;
    }
    header{
        height: 100vh;
       }
}
@media screen and (max-width:600px) {
    .container{
        width: var(--container-width-sm);
    }
    .nav_menu{
        right: 3%;
       }
    /* ========HEADER========= */
       header{
        height: 100vh;
       }
       .header-container{
        width: 100%;
    }
}
